<p id="notice"><%= notice %></p>

<p>
  <b>Build number:</b>
  <%= @build.build_number %>
</p>

<p>
  <b>Total test:</b>
  <%= @build.total_test %>
</p>

<p>
  <b>Skipped test:</b>
  <%= @build.skipped_test %>
</p>


<%= link_to 'Edit', edit_build_path(@build) %> |
<%= link_to 'Back', builds_path %>
